    <!-- About Section -->
    <section id="aboutMe" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>About Me</h1>
                <br>
                <div id="aboutDetail">
                    <div>
                        <div>이름 : 김민성</div>
                    </div>
                    <div>
                        <div>생년월일 : 1999.08.01</div>
                    </div>
                    <div>
                        <div>주소 : 서울특별시 관악구</div>
                    </div>
                    <div>
                        <div>연락처 : 010-5811-6210</div>
                    </div>
                    <div>
                        <div>이메일 : kms2786210 @ naver.com</div>
                    </div>
                    <div>
                        <div>학력 : 서울대학교 재학</div>
                    </div>
                </div>
            </div>
        </div>
    </section>