    <!-- Download Section -->
    <section id="skills" class="content-section text-center">
        <div class="skills-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1>Skills</h1>
                    <br>
                    <div id="skillsDetail">
                        <div>
                            <div>Language</div>
                            <div>
                                <img src="/img/skills/java.png">
                                <img src="/img/skills/python.png">
                                <img src="/img/skills/js.png">
                                <img src="/img/skills/c++.png">
                                <img src="/img/skills/r.png">
                                <img src="/img/skills/matlab.png">
                            </div>
                        </div>
                        <div>
                            <div>Frontend</div>
                            <div>
                                <img src="/img/skills/react.png">
                                <img src="/img/skills/html.png">
                                <img src="/img/skills/css.png">
                            </div>
                        </div>
                        <div>
                            <div>Backend</div>
                            <div>
                                <img src="/img/skills/spring.png">
                                <img src="/img/skills/mybatis.png">
                            </div>
                        </div>
                        <div>
                            <div>Database & Server</div>
                            <div>
                                <img src="/img/skills/oracle_db.webp">
                                <img src="/img/skills/tomcat.png">
                            </div>
                        </div>
                        <div>
                            <div>Data</div>
                            <div>
                                <img src="/img/skills/tensorflow.png">
                                <img src="/img/skills/pytorch.png">
                            </div>
                        </div>
                        <div>
                            <div>Collab & DevOps</div>
                            <div>
                                <img src="/img/skills/slack.png">
                                <img src="/img/skills/notion.png">
                                <img src="/img/skills/trello.png">
                                <img src="/img/skills/discord.png">
                                <img src="/img/skills/github.png">
                                <img src="/img/skills/docker.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>