    <!-- Download Section -->
    <section id="skills" class="content-section text-center">
        <div class="skills-section">
            <div class="container">
                <div class="col-lg-10 col-lg-offset-1">
                    <h1>Skills</h1>
                    <br>
                    <div id="skillsDetail">
                        <div>
                            <div>Frontend</div>
                            <br>
                            <img src="/img/skills/css.png">
                        </div>
                        <div>
                            <div>Backend</div>
                        </div>
                        <div>
                            <div>Communication</div>
                            <br>
                            <img src="/img/skills/discord.png">
                            <img src="/img/skills/erd.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>